/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* Estilos adicionais do Material Design Kit */
:root {
    --cor-click: #126ae2;
    /* Click */
    --cor-sombra: #0a599b;
    /* Azul Escuro */
    --cor-text: black;
    /* Preto */
    --cor-back1: #edf2f4;
    /* Azul claro */
    --cor-back2: #6a937a;
    /* Verde Escuro */

    --md-sys-color-primary: #126ae2;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #142583;
    --md-sys-color-on-primary-container: #002020;

    --cor-fundo: #414bb2;
    /* Fundo principal */
    --cor-branco: #FFFFFF;
    /* Branco */
    --cor-preto: #000000;
    /* Preto */
    --cor-linha: #85addaf6;
    /* Cor da linha */
    --cor-fundo-escuro: #121212;
    /* Fundo do tema escuro */
    --cor-fundo-claro: #f9f9f9;
    /* Fundo claro */
    --cor-fundo-container: #ffffff;
    /* Fundo container */
    --cor-sombra-container: rgba(0, 0, 0, 0.1);
    /* Sombra container */
    --cor-hover: #0a0f5b;
    /* Cor do hover */
    --cor-hover-link: #0066cc;
    /* Cor do hover link */
    --cor-fundo-escuro-secundario: #1e1e1e;
    /* Fundo escuro secundário */
    --cor-fundo-escuro-terciario: #2c2c2c;
    /* Fundo escuro terciário */
    --cor-fundo-rodape: #343a40;
    /* Fundo do rodapé */
    --cor-e0e0e0: #e0e0e0;
    /* Cor do texto no modo escuro */
}

/* Estilos globais */
body,
html {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-linha);
    align-items: center;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cor-fundo-container);
    color: var(--cor-fundo);
}

header img {
    width: 30px;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.flags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.flag-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 45%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.flag-item:hover {
    transform: scale(1.05);
}

.flag-item img {
    width: 83px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--cor-hover);
    box-shadow: 0 2px 4px var(--cor-sombra-container);
}

.flag-item p {
    margin-top: 10px;
    font-size: 16px;
    color: var(--cor-preto);
}

/* Botão de alternar tema */
.theme-toggle {
    position: fixed;
    bottom: 7px;
    right: 20px;
    background-color: var(--cor-fundo);
    color: var(--cor-branco);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px var(--cor-sombra-container);
}

.theme-toggle:hover {
    background-color: var(--cor-hover);
}

/* Tema escuro */
body.dark-mode,
html.dark-mode {
    background-color: var(--cor-fundo-escuro);
    /* Fundo do tema escuro */
    color: var(--cor-e0e0e0);
}

.dark-mode header {
    background-color: var(--cor-fundo-escuro-terciario);
    color: var(--cor-e0e0e0);
}

.dark-mode .container {
    background-color: var(--cor-fundo-escuro-secundario);
}

.dark-mode .flag-item p {
    color: var(--cor-e0e0e0);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .flag-item {
        margin: 5px;
        width: 45%;
    }

    .flag-item img {
        width: 60px;
        height: 60px;
    }

    .flag-item p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .flag-item {
        width: 45%;
    }

    .flag-item img {
        width: 50px;
        height: 50px;
    }

    .flag-item p {
        font-size: 12px;
    }
}
